body {
  color:#000000;
  font-size:10pt;
  margin-top:5pt;
  margin-left:5pt;
  margin-bottom:0pt;
  margin-right:0pt;
  background-color:#CCD5DA;
}
body.blank{
  background-color:#FFFFFF;
  color: #000000;
}
a:link {
  color: #0000ff;
}
a:visited {
  color: #0000ff;
}
a:active {
  color: #ff0000;
}
a:hover {
  color: #ff0000;
}

body.browserr {
  background-color:#ffffff;
}
body.header {
  width:100%;
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  background-color=#BBC7CD;
  font-size:10pt;
}

body.main {
  width:100%;
  margin-left:6px;
  margin-right:6px;
  background-color=#CCD5DA;
  font-size:10pt;
}

body.bg01 {
  background-color:#ffffff;
  background-image: url(images/back_a.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

td.sepa {
  background-color:#FF0000;
  height: 1;
}

td.sepabtm {
  background-color:#FF0000;
  height: 2;
}

td.titlebg {
  background-color:#BBC7CD;
}

table {
	font-family:Arial;
}
font {
  color: #000000;
  font-family:Arial;
	}

font.highlight {
  color: #FF0000;
  font-family:Arial;
	}
	
font.cartitle {
  color: #de0000;
  font-family:Arial;
  font-size: large;
	}
	
font.footer {
  color: #000000;
  font-family:Arial;
  font-size: x-small;
	}
font.titlebg {
  color: #990000;
  font-family:Arial;
  font-size: xx-small;
}
font.wait{
  font-family:Arial;
  font-size: large;
}
